* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  color: #fefefe;

  /* DELETE */
  background-color: black;
  /* DELETE */
}

h1, h2, h3 {
  flex: 1 100%;
  text-align: center;

  text-shadow: 1px 0 1px #ccc;

  margin: 0.5em;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 8vw;
}

h3 {
  font-size: 4vw;
}

a {
  color: #fefefe;
  text-decoration: none;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* Hero START */

.top-background  {
  background-image: url(../img/sammalkatto1.jpg);
}

.section__hero {
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
  align-content: center;
}

.hero__header {
  margin-bottom: 0;
}

.hero__ingress {
  margin-top: 0;
  font-size: 4vw;
}

.thoughts {
  width: 75vw;
  font-size: 130%;
  text-shadow: 1px 0 1px #dddddd;
}

@media only screen and (max-width: 768px) {
  .thoughts {
    width: 90vw;
    font-size: 100%;
  }
}

/* Hero END */

/* Gallery START */

.section__references {
  background-color: #6c802f;
  height: auto;
  padding-bottom: 10vh;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90vw;
}

.gallery div {
  position: relative;
  border: 2px solid #eeeeee;
  margin: 1em;
}

.gallery img {
  width: 25vw;
  height: 25vw;

  max-width: 30vh;
  max-height: 30vh;
}

@media only screen and (max-width: 768px) {
  .gallery img {
    width: 40vw;
    height: 40vw;

    max-width: 20vh;
    max-height: 20vh;
  }
}

.caption {
  color: black;
  padding-top: 1em;
  position: absolute;
  bottom: 0;
  padding: 1em;
  padding-right: 3em;
  background: rgba(255, 255, 255, 0.85);
}

.thumb-caption {
  background: rgba(0, 0, 0, 0.3);
  color: #fefefe;
  text-decoration: none;

  padding: 0.75em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .caption {
    position: relative;
  }

  .thumb-caption {
    padding: 0.5em;
  }
}

/* Gallery END */

/* Contacts START */

.bottom-background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/sammalkatto3.jpg);
}

.contact-wrapper {
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  padding-bottom: 10vh;
}

.section__contact {
  position: relative;
}

.contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 90vw;
}

.contacts-container > * {
  flex-basis: 0;
  flex-grow: 1;
  width: 33%;
  margin: 0 5% 0 5%;
}

.contact-details {
  font-size: 150%;
}

.profile-picture {
  max-width: 300px;
}

@media only screen and (max-width: 768px) {
  .contacts-container {
    flex-wrap: wrap;
  }

  .contacts-container > * {
    width: 100%;
  }

  .contact-details, .profile-picture {
    max-width: 75%;
  }
}

/* Contacts END */

/* Parallax START */
.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-300px) scale(2);
}