* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  color: #fefefe;
}

a {
  color: #fefefe;
  text-decoration: none;
}

.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin-x: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-size: cover;
}

.parallax__layer--back {
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax__layer--base {
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--fore {
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
}

.content-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.content-container--shaded {
  background-color: rgba(0,0,0,0.5);
  padding: 15vh 0 15vh 0;
}

.thoughts {
  width: 75vw;
  font-size: 130%;
  text-shadow: 1px 0 1px #dddddd;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.gallery div {
  position: relative;
  border: 2px solid #eeeeee;
  margin: 1em;
}

.gallery img {
  width: 25vw;
  height: 25vw;

  max-width: 30vh;
  max-height: 30vh;
}

.caption {
  color: black;
  padding-top: 1em;
  position: absolute;
  bottom: 0;
  padding: 1em;
  padding-right: 3em;
  background: rgba(255, 255, 255, 0.85);
}

.thumb-caption {
  background: rgba(0, 0, 0, 0.3);
  color: #fefefe;
  text-decoration: none;

  padding: 0.75em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.contact-details {
  font-size: 150%;
}

h1, h2, h3 {
  flex: 1 100%;
  text-align: center;

  text-shadow: 1px 0 1px #ccc;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 8vw;
}

#section-one {
  z-index: 5;
}

#section-one .parallax__layer--base {
  background-image: url(../img/sammalkatto1.jpg);
}

#section-two {
  z-index: 3;
}

#section-two .parallax__layer--back {
  background-color: #5F5F23;
}

#section-three {
  z-index: 4;
}

#section-three .parallax__layer--base {
  background-image: url(../img/sammalkatto3.jpg);
}
}